<%= form_with(model: posteo) do |form| %>
  <% if posteo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(posteo.errors.count, "error") %> prohibited this posteo from being saved:</h2>

      <ul>
        <% posteo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :UserName, style: "display: block" %>
    <%= form.text_field :UserName %>
     
  </div>
  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_field :Description %>
  </div>
<br>




 

  <div>
    <%= form.submit %>
  </div>
<% end %>
